[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
jsonify = "*"
flask-restful = "*"
requests = "*"
flask-limiter = "*"
python-dotenv = "*"
dnspython = "*"
pdfplumber = "==0.5.28"
spacy = "==3.2.0"
plac = "==1.3.4"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true